name: crm-migrator

on:
  workflow_dispatch:
  push:
    branches:
    - main
  
  pull_request:
    branches:
    - main

    paths:
    - src/Services/CRM/Persistence/**
    - .github/workflows/crm-migrator.yml
env:
  REGISTRY: ghcr.io
  SERVICE: crm-migrator
  IMAGE: crm.migrator

jobs:

  BuildContainersForPR_Linux:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    if: ${{ github.event_name == 'pull_request' }}
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - uses: ./.github/workflows/composite/build
      with:
        service: ${{ env.SERVICE }}
        registry_endpoint: ${{ vars.REGISTRY_ENDPOINT }}

  BuildLinux:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    if: ${{ github.event_name != 'pull_request' }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - uses: ./.github/workflows/composite/build-push
      with:
        service: ${{ env.SERVICE }}
        registry_host: ${{ env.REGISTRY }}
        registry_endpoint: ${{ vars.REGISTRY_ENDPOINT }}
        image_name: ${{ env.IMAGE }}
        registry_username: ${{ github.actor }}
        registry_password: ${{ secrets.GITHUB_TOKEN }}